
/* .ftco-section {
  padding: 12em 0; }
  .ftco-section h2 {
    margin-bottom: 0; } */

footer {
  padding: 5em 0; }

.footer-07 {
  background: #121212; }
  .footer-07 a {
    color: #ffffff;
    text-decoration: none;
  }
  .footer-07 p {
    color: rgba(255, 255, 255, 0.3); }
  .footer-07 .footer-heading {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px; }
    .footer-07 .footer-heading .logo {
      color: rgb(1, 210, 142); }  /*color of footer main company name*/
  .footer-07 .menu {
    margin-bottom: 30px; }
    .footer-07 .menu a {
      color: rgba(255, 255, 255, 0.6);
      margin: 0 10px;
      text-transform: uppercase;
      letter-spacing: 1px; }
  .footer-07 .ftco-footer-social li a {
    background: transparent;
    border: 1px solid rgb(1, 210, 142); } /*color of socials border*/


    .ftco-footer-social li {
      list-style: none;
      margin: 0 10px 0 0;
      display: inline-block; }
      .ftco-footer-social li a {
        height: 40px;
        width: 40px;
        display: block;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        position: relative; }
        .ftco-footer-social li a span {
          position: absolute;
          font-size: 20px;
          top: 50%;
          left: 50%;
          color: rgb(1, 210, 142);  /*color of the social icons*/
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
        .ftco-footer-social li a:hover {
          color: #fff; }
    

    .copyright a{
      color: rgb(1, 210, 142); /*color of copyright*/
    }